<div #containerRef class="center-col-items">
  <div class="box-rempli-turquoise center-items">Medals per country</div>
  <div class="center-row-items">
    <div class="box-entoure-turquoise center-col-items">Number of JOs <b>{{yearsJO.length}}</b></div>
    <div class="box-entoure-turquoise center-col-items">Number of countries <b>{{pieDatas.length}}</b></div>
  </div>

   <ngx-charts-pie-chart
    [view]="[containerRef.offsetWidth*1.2, 600]"
    [results]="pieDatas"
    [gradient]="gradient"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    (select)="onSelect($event)"
    >
  </ngx-charts-pie-chart> 
</div>



